{% extends "modal.html" %}
{% block head %}
{{ super () }}
{% endblock %}

{% block content %}
{{ super () }}
		<div class="row" >
			<table class="table">
				<thead>
					<tr>
						{% for col in data[0] %}
						<th>{{ col.upper() }}</th>
						{% endfor %}
						<th>Action</th>
					</tr>
					<tbody>
						<tr>
						{% for entry in data[1::] %}
							{% for item in entry %}
							<td>{{item}}</td>
						{% endfor %}
							<td >
								<a data-toggle="modal" data-target="#editModal"><span class="glyphicon glyphicon-pencil"></span></a>
								<a><span class="glyphicon glyphicon-trash"></span></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% from 'modal.html' import modal %}
			{% block modal %}
			{{ super () }}
			{% endblock modal %}

{% endblock content %}
