<!DOCTYPE html>
<html lang="en">
    <head>
		{% block head %}
        <title>Assignment 5 | Henry Books Database</title>
        {% with messages = get_flashed_messages(category_filter='success') %}
        {% if messages %}
			<div class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{messages[0]}}
			</div>
        {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter='error') %}
        {% if messages %}
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{messages[0]}}
			</div>
        {% endif %}
        {% endwith %}

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/_main.css') }}"/>
		{% endblock %}
    </head>
    <body>
		<div id="content">
		{% block content %}
		<div class="header-wrapper">
            <div class="header">
                <h3 class="text-muted header-title">Henry&nbsp;Books&nbsp;Database</h3>
                <nav>
                    <ul class="nav nav-pills pull-right list">
                        <li role="presentation" class="active"><a href="/">Home</a>
                        </li>
                        <li role="presentation"><a href="/author">Author</a>
                        </li>
                        <li role="presentation"><a href="/copy">Copy</a>
                        </li>
                        <li role="presentation"><a href="/publisher">Publisher</a>
                        </li>
						<li role="presentation">
							<div class="input-group">
								<form action="/search" method="GET">
									<input 
										type="text" 
										name="search" 
										class="form-control" 
										value="{{ request.form.search }}"
										placeholder="Search">
								</form>
							</div>
						</li>
                    </ul>
                </nav>
            </div>
            <div class="jumbotron">
                <div class="jumbotron-inner"> </div>
                <h2 style="color: white;">Books by Henry</h2>
                <p class="lead"></p>
            </div>
            <h4 style="text-align: center"> Here is the current list of Henry Books </h4>
			{% endblock %}
		</div>
	</body>
		<footer class="footer">
			{% block footer %}
			<p class="footer-content" style="text-align: center">Henry is here to serve the books | Pachev Joseph & Alan Kopettman</p>
			{% endblock %}
		</footer>
</html>
