{% extends "modal.html" %}
{% block head %}
{{ super () }}
{% endblock %}

{% block content %}
{{ super () }}
{% if "search" not in request.url_rule.rule %}
<div class="add-wrapper">
	<div class="add-form-wrapper">
		<form role="form" action="\add-{{request.url_rule.rule[1::]}}" method="POST">
			<ul class="add-list">
			{% for col in data[0] %}
				<li class="add-input">
					<label for="edit{{col.upper()}}" class="control-label">{{col.upper()}}:</label>
					<input type="text" class="form-control" name="add{{col}}" id="add{{col.upper()}}">
				</li>
			{% endfor %}
			</ul>
			<input type="submit" 
					class="add-button-wrapper btn btn-primary" 
					value="Add {{request.url_rule.rule[1::].title()}}">
			</input>
		</form>
	</div>
</div>
{% endif %}
<h4 style="text-align: center"> Here is the current list of Henry Books </h4>
		<div class="row" >
			<table class="table">
				<thead>
					<tr>
						<!--COLUMN CONTEXT-->
						{% for col in data[0] %}
							{% if col.upper() == "TITLE" %}
							{% endif %}
							<th>{{ col.upper() }}</th>
						{% endfor %}
						{% if request.args.get('search') == None %}
						<th>Action</th>
						{% endif %}
					</tr>
					<tbody>
						<tr>
						<!--FOR TUPLE IN QUERYSET-->
						{% for entry in data[1::] %}
							<!--FOR ENTRY IN TUPLE-->
							{% for item in entry %}
								<td>{{item}}</td>
							{% endfor %}
							{% if request.args.get('search') == None %}
							<td >
								<a data-toggle="modal" data-target="#editModal"><span class="glyphicon glyphicon-pencil"></span></a>
								<form action=\delete-{{request.url_rule.rule[1::]}} method=POST>
									<input type=hidden value="{{ entry[0] }}"name="{{request.url_rule.rule[1::]}}_to_delete"></input>
								<button type=submit class=trash-button><span class="glyphicon glyphicon-trash"></span></button>
								</form>
							</td>
						{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% from 'modal.html' import modal %}
			{% block modal %}
			{{ super () }}
			{% endblock modal %}

{% endblock content %}
