{% extends "layout.html" %}
	{% block head %}
		{{ super () }}
	{% endblock %}

	{% block content %}
		{{ super () }}
		<div class="row" >
			<table class="table">
				<thead>
					<tr>
						<th>Publisher Code</th>
						<th>Publisher Name</th>
						<th>Publisher City</th>
						<th>Action</th>
					</tr>
					<tbody>
						{% for n in data %}
						<tr>
							<td>{{n[0]}}</td>
							<td>{{n[1]}}</td>
							<td>{{n[2]}}</td>
							<td >
								<button type="button" class="btn btn-success">Edit</button>
								<button type="button" class="btn btn-danger">Delete</button>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
	{% endblock %}
