{% extends "layout.html" %}
	{% block head %}
		{{ super () }}
	{% endblock %}

	{% block content %}
		{{ super () }}
		<div class="row" >
			<table class="table">
				<thead>
					<tr>
						{% for col in data[0] %}
						<th>{{ col.upper() }}</th>
						{% endfor %}
						<th>Action</th>
					</tr>
					<tbody>
						<tr>
						{% for entry in data[1::] %}
							{% for item in entry %}
							<td>{{item}}</td>
						{% endfor %}
							<td >
								<button type="button" class="btn btn-success">Edit</button>
								<button type="button" class="btn btn-danger">Delete</button>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
	{% endblock %}
